body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
   direction: rtl;
  unicode-bidi: bidi-override;
   text-indent: 50px;
    text-shadow: 2px 2px;
}