body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

P.A{
  background-color: yellow;

  
   direction: rtl;
  unicode-bidi: bidi-override;
   text-indent: 50px;
   text-decoration: underline;
    
}
p{
	background-color: green;
	

}